[package]
name = "openh264"
description = "Idiomatic bindings for OpenH264."
authors = ["Ralf Biedert <rb@xr.io>"]
keywords = ["multimedia", "encoding", "video"]
categories = ["api-bindings", "multimedia::video"]
version = "0.2.10"
edition = "2018"
license = "BSD-2-Clause"
documentation = "https://docs.rs/openh264/"
repository = "https://github.com/ralfbiedert/openh264-rust"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
default = ["decoder", "encoder"]
decoder = ["openh264-sys2/decoder"]
encoder = ["openh264-sys2/encoder"]
asm = ["openh264-sys2/asm"]
backtrace = []

[dependencies]
openh264-sys2 = { path = "../openh264-sys2", version = "0.2.5", default-features = false }

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
